/* QuizBody.css */
.quiz-container {
    width: 80%;
    margin: 0 auto;
    text-align: center;
    padding: 20px;
    background-color: #19471d6b;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  h2 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .quiz-question {
    padding: 20px;
    background-color: #30a738b7;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
  }
  
  ul.quiz-options {
    list-style-type: none;
    padding: 0;
  }
  
  ul.quiz-options li {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin: 5px 0;
    cursor: pointer;
  }
  
  .navigation-buttons {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 20px;
  }
  
  
  
  
  
  