//colors

$color-logo: #e64946;
$color-primary: #f8f8f8;
$color-gold: #feda4a;
//Sizes
$size-xxs: 0.5rem;
$size-xs: 1rem;
$size-sm: 1.5rem;
$size-md: 2rem;
$size-lg: 2.5rem;
$size-xl: 3rem;
$size-xxl: 3.5rem;
$size-xxxl: 4rem;
